
/* "ThemeNSA V1" by Bang */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */
/* IMPORT CSS FROM GITHUB */

/*

/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Github: https://git.io/v6BHO
Discord: https://git.io/vMnlu
Wiki: https://git.io/vXTqM
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
  --main-color: #008000;
  --hover-color: #008000;
  --background-blur: 0px;
  --background-brightness: 150%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://i.imgur.com/HG6mBEr.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}

/*/Upload animation*/
/*     User Profile Modal     */
/* ========================== */
.root-SR8cQa {
  background-color: rgba(60, 255, 26, 1);
  background-size: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden; }

.root-SR8cQa .topSectionPlaying-1J5E4n,
.root-SR8cQa .topSectionNormal-2-vo2m,
.root-SR8cQa .topSectionSpotify-1lI0-P,
.root-SR8cQa .topSectionStreaming-1Tpf5X {
  background-color: rgba(60, 255, 26, 1);
  background-image: url(https://imgur.com/wxrAb2Y) !important; /* IMPORTANT: Link must be HTTPS! */
  background-size: 50%;
  background-color: var(--nox-level2);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.04) inset, 0 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: ; */ }
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
