//META{"name":"RoundedSquareAvatars","description":"Replaces all avatars with rounded squares. (5px rounding)","author":"Metalloriff","version":"1.0"}*//
//META{"name":"BetterHomeButton","description":"Removes the background of the home button and adds a glow upon hover, and a colored glow when selected.","author":"Metalloriff","version":"1.0"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://raw.githubusercontent.com/Metalloriff/toms-discord-stuff/master/css-snippets/BetterHomeButton.css);
  @import url(https://raw.githubusercontent.com/Metalloriff/toms-discord-stuff/master/css-snippets/RoundedSquareAvatars.theme.css);



/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Github: https://git.io/v6BHO
Discord: https://git.io/vMnlu
Wiki: https://git.io/vXTqM
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
  --main-color: #008000;
  --hover-color: #008000;
    --background-blur: 0px;
    --background-brightness: 150%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://i.imgur.com/RcnBTMv.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}

/** ---- User Modals ---- **/
.userPopout-3XzG_A .body-3iLsc4,
.userPopout-3XzG_A .footer-1fjuF6,
.modal-1UGdnR .body-3ND3kc,
#autocomplete-popout .autocomplete-scroller {
  background: #202225 !important;
}
.userPopout-3XzG_A .quickMessage-2XpSaN {
  border-radius: 6px;
  background-color: #2F3136;
}
.headerTag-2pZJzA {
  height: auto;
}
.addButton-pcyyf6,
.role-2irmRk,
.roleCircle-3xAZ1j {
  border-radius: 4px;
}
.connectedAccounts-repVzS {
  margin-bottom: 5px;
}
.connectedAccounts-repVzS .connectedAccount-36nQx7 {
  border: 2px solid #111;
}
.connectedAccountOpenIcon-2cNbq5:hover {
  filter: brightness(150%);
}
#autocomplete-popout h3 {
  margin-left: 55px;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
