
/* "ThemeNSA V1" by Bang */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */
/* IMPORT CSS FROM GITHUB */

/*

/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Github: https://git.io/v6BHO
Discord: https://git.io/vMnlu
Wiki: https://git.io/vXTqM
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
  --main-color: #008000;
  --hover-color: #008000;
  --background-blur: 0px;
  --background-brightness: 150%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://i.imgur.com/HG6mBEr.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
